{extend name="layout/adminSingle"}
{block name="title"}后台登录{/block}
{block name="content"}
<div class="text-center mb-4">
    <a href=""><img src="/img/logo.png" height="80" alt=""></a>
</div>
<form class="card card-md" method="POST" autocomplete="off">
    <div class="card-body">
        <h2 class="card-title text-center mb-4">登录到后台</h2>
        <div class="mb-3">
            <label class="form-label">账号</label>
            <input type="text" class="form-control" name="username" placeholder="输入账号" />
        </div>
        <div class="mb-2">
            <label class="form-label">密码</label>
            <div class="input-group input-group-flat">
                <input type="password" class="form-control" name="password" placeholder="输入密码" autocomplete="off" />
                <span class="input-group-text">
                    <a href="javascript:;" class="link-secondary togglePassword" title="切换显示/隐藏密码" data-bs-toggle="tooltip"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                </a>
                </span>
            </div>
        </div>
        <div class="mb-2">
            <label class="form-check">
                <input type="checkbox" class="form-check-input"/>
                <span class="form-check-label">记住当前设备</span>
            </label>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">登录</button>
        </div>
    </div>
</form>
<div class="text-center text-muted mt-3">系统将会记录您的每一步操作</div>
{/block}