<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{block name="title"}后台管理{/block}</title>
    <link href="/css/tabler.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcdn.net/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link href="/css/admin.css" rel="stylesheet" />
    {block name="style"}{/block}
</head>

<body class="antialiased">
<div class="page">
    <!-- 左边导航 -->
    <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
        <div class="container-xl">
            <!-- 汉堡菜单 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menus">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Logo -->
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href="/index.html">
                    <img src="/img/logo-white.png" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </h1>
            <!-- 用户区域 -->
            <div class="navbar-nav flex-row d-lg-none">
                <!-- 信息资料 -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                        <span class="avatar avatar-sm bg-transparent" style="background-image: url(/img/logo.png)"></span>
                        <div class="d-none d-xl-block ps-2">
                            <div>昵称</div>
                            <div class="mt-1 small text-muted">管理员</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">修改资料</a>
                        <a href="/signout.html" class="dropdown-item">退出登录</a>
                    </div>
                </div>
            </div>
            <!-- 菜单栏目 -->
            <div class="navbar-menus collapse" id="navbar-menus">
                {:\\App\\Common\\Rbac::fetch()}
            </div>
        </div>
    </aside>
    <!-- 顶部栏目 -->
    <header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
        <div class="container-xl">
            <!-- 汉堡菜单 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menus">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 用户区域 -->
            <div class="navbar-nav flex-row order-md-last">
                <!-- 信息资料 -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                        <span class="avatar avatar-sm bg-transparent" style="background-image: url(/img/logo.png)"></span>
                        <div class="d-xl-block ps-2">
                            <div>{:\\Minimal\\Facades\\Request::session('admin')['username']}</div>
                            <div class="mt-1 small text-muted">{:\\Minimal\\Facades\\Request::session('admin')['roleName'] ?? "管理员"}</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">修改资料</a>
                        <a href="/signout.html" class="dropdown-item">退出登录</a>
                    </div>
                </div>
            </div>
            <!-- 快捷搜索 -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div>
                    <form action="." method="get">
                    <div class="input-icon">
                        <span class="input-icon-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Search…" aria-label="Search in website">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- 正文内容 -->
    <div class="content">
        <!-- 正文内容 -->
        <div class="container-xl">
            {block name="content"}{/block}

            <!-- 警告确认 -->
            <div class="modal modal-blur fade" id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-status bg-danger"></div>
                        <div class="modal-body text-center py-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                            <h3>确定要删除吗?</h3>
                            <div class="text-muted">通常情况下，删除操作所造成的数据将无法挽回，请慎重！</div>
                        </div>
                        <div class="modal-footer">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col"><a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">取消</a></div>
                                    <div class="col"><a href="javascript:modal.confirmCallback();" class="btn btn-danger w-100">确定执行</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部版权 -->
        <footer class="footer footer-transparent d-print-none">
            <div class="container">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="./docs/index.html" class="link-secondary">Documentation</a></li>
                    <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                    <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                    Copyright &copy; 2021
                    <a href="." class="link-secondary">Fairs</a>.
                    All rights reserved.
                    </li>
                    <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">v1.0.0-alpha.22</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </footer>
    </div>
</div>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/tabler.min.js"></script>
<script>
var exception = '{$exception|default=""|raw|addslashes}';
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="/js/admin.js"></script>
{block name="script"}{/block}
</body>
</html>