{extend name="layout/admin" }
{block name="title"}账户列表{/block}
{block name="content"}
<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <div class="page-pretitle">Accounts</div>
            <h2 class="page-title">账户</h2>
        </div>
        <div class="col-auto ms-auto">
            <div class="btn-list">
                {if true === :\App\Common\Admin::check('/account/save.html') }
                <a href="#" class="btn btn-primary d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-save">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    创建新的账户
                </a>
                {/if}
            </div>
        </div>
    </div>
</div>

<div class="row row-deck row-cards">
    <div class="col-12">
        <form method="GET" class="card">
            <div class="card-header">
                <h3 class="card-title">数据筛选</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-xl-2 mb-3">
                        <label class="form-label">账户编号</label>
                        <input type="text" class="form-control" name="uid" placeholder="用户自己的邀请码" value="{$params['uid']|default=''}" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-2 mb-3">
                        <label class="form-label">账号关键字</label>
                        <input type="text" class="form-control" name="keyword" placeholder="用户名\手机\邮箱" value="{$params['keyword']|default=''}" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-2 mb-3">
                        <label class="form-label">上级编号</label>
                        <input type="text" class="form-control" name="inviter" placeholder="查询所有下级" value="{$params['inviter']|default=''}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">会员级别</label>
                        <select class="form-select" name="level">
                            {foreach $levels as $key => $level}
                                {if isset($params['level']) && $key == $params['level']}
                                    <option value="{$key}" selected>{$level}</option>
                                {else /}
                                    <option value="{$key}">{$level}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">账户状态</label>
                        <select class="form-select" name="status">
                            {foreach $statuses as $key => $status}
                                {if isset($params['status']) && $key == $params['status']}
                                    <option value="{$key}" selected>{$status}</option>
                                {else /}
                                    <option value="{$key}">{$status}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">实名认证</label>
                        <select class="form-select" name="authentication">
                            {foreach $levels as $key => $level}
                                {if isset($params['level']) && $key == $params['level']}
                                    <option value="{$key}" selected>{$level}</option>
                                {else /}
                                    <option value="{$key}">{$level}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">是否绑卡</label>
                        <select class="form-select" name="isBindCard">
                            {foreach $isBindCards as $key => $isBindCard}
                                {if isset($params['isBindCard']) && $key == $params['isBindCard']}
                                    <option value="{$key}" selected>{$isBindCard}</option>
                                {else /}
                                    <option value="{$key}">{$isBindCard}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">个性昵称</label>
                        <input type="text" class="form-control" name="nickname" placeholder="例如：张三" value="{$params['nickname']|default=''}" />
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">性别</label>
                        <select class="form-select" name="gender">
                            {foreach $genders as $key => $gender}
                                {if isset($params['gender']) && $key == $params['gender']}
                                    <option value="{$key}" selected>{$gender}</option>
                                {else /}
                                    <option value="{$key}">{$gender}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">出生年月</label>
                        <input type="text" class="form-control flatpickr" name="birthday" data-format="Y-m-d" data-enable-time="false" placeholder="2021-08-08" value="{$params['birthday']|default=''}" />
                    </div>
                    <div class=" col-md-12 col-xl-6 col-xxl-4 mb-3">
                        <div class="row region">
                            <div class="col">
                                <label class="form-label">省份</label>
                                <select name="province" class="form-select" data-default="{$params['province']|default=''}">
                                    <option value="">请选择省份</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">城市</label>
                                <select name="city" class="form-select" data-default="{$params['city']|default=''}">
                                    <option value="">请选择城市</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">区县</label>
                                <select name="county" class="form-select" data-default="{$params['county']|default=''}">
                                    <option value="">请选择区县</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">注册起始时间</label>
                        <input type="text" class="form-control flatpickr" name="created_start_at" placeholder="2021-08-08 12:30:00" value="{$params['created_start_at']|default=''}" />
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-2 mb-3">
                        <label class="form-label">注册截止时间</label>
                        <input type="text" class="form-control flatpickr" name="created_end_at" placeholder="2021-08-08 12:30:00" value="{$params['created_end_at']|default=''}" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">时间区间</label>
                        <div class="form-selectgroup">
                            <label class="form-selectgroup-item">
                                <input class="form-selectgroup-input flatpickr-quick" data-target="created_start_at,created_end_at" type="radio" name="date_choose" value="today" />
                                <span class="form-selectgroup-label">今天</span>
                            </label>
                            <label class="form-selectgroup-item">
                                <input class="form-selectgroup-input flatpickr-quick" data-target="created_start_at,created_end_at" type="radio" name="date_choose" value="yesterday" />
                                <span class="form-selectgroup-label">昨天</span>
                            </label>
                            <label class="form-selectgroup-item">
                                <input class="form-selectgroup-input flatpickr-quick" data-target="created_start_at,created_end_at" type="radio" name="date_choose" value="lastSevenDays" />
                                <span class="form-selectgroup-label">近7天</span>
                            </label>
                            <label class="form-selectgroup-item">
                                <input class="form-selectgroup-input flatpickr-quick" data-target="created_start_at,created_end_at" type="radio" name="date_choose" value="nearly30Days" />
                                <span class="form-selectgroup-label">近30天</span>
                            </label>
                            <label class="form-selectgroup-item">
                                <input class="form-selectgroup-input flatpickr-clear" data-target="created_start_at,created_end_at" type="radio" name="date_choose" />
                                <span class="form-selectgroup-label">清除时间</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">查询数据</button>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">账户列表</h3>
                <div class="card-options">
                    <span class="dropdown">
                        <button class="btn btn-sm dropdown-toggle align-text-top" data-bs-toggle="dropdown">操作</button>
                        <div class="dropdown-menu">
                            <a href="javascript:;" class="dropdown-item btn-status" data-value="0">冻结</a>
                            <a href="javascript:;" class="dropdown-item btn-status" data-value="1">解冻</a>
                            <a href="javascript:remove();" class="dropdown-item btn-danger btn-modal-confirm">删除</a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable accounts">
                    <thead>
                        <tr>
                            <th class="w-1">
                                <input class="form-check-input m-0 align-middle checkBoxChoose" type="checkbox" aria-label="Select all invoices">
                            </th>
                            <th class="w-1">头像</th>
                            <th class="w-1">编号</th>
                            <th>账号</th>
                            <th>手机邮箱</th>
                            <th>状态</th>
                            <th>上级</th>
                            <th>性别</th>
                            <th>生日</th>
                            <th>地址</th>
                            <th>注册时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $list as $key => $account}
                            <tr>
                                <td>
                                    <input class="form-check-input align-middle checkBoxItem" type="checkbox" value="{$account['uid']}" />
                                </td>
                                <td>
                                    <a class="avatar" href="javascript:;" style="background-image: url({$account['avatar']});"></a>
                                </td>
                                <td>
                                    <div class="small text-muted mb-1">{$account['uid']}</div>
                                    <div><span class="badge bg-green-lt">普通会员</span></div>
                                </td>
                                <td>
                                    <div class="small text-muted">{$account['nickname']}</div>
                                    <a href="/account/read.html?uid={$account['uid']}" target="_blank" class="text-blue">{$account['username']}</a>
                                </td>
                                <td>
                                    <div class="text-muted">({$account['country']}) {$account['phone']}</div>
                                    <div>{$account['email']}</div>
                                </td>
                                <td>
                                    {if $account['status'] != 1}
                                        <span class="badge bg-azure me-1">冻结</span>
                                        <span class="badge me-1">认证</span>
                                        <span class="badge me-1">绑卡</span>
                                    {else /}
                                        <span class="badge bg-green me-1">正常</span>
                                        <span class="badge bg-green me-1">认证</span>
                                        <span class="badge bg-green me-1">绑卡</span>
                                    {/if}
                                </td>
                                <td>
                                    {notempty name="$account['inviter']"}
                                    <div class="row row-sm">
                                        <div class="col-auto">
                                            <a class="avatar" href="javascript:;" style="background-image: url({$account['parent']['avatar']});"></a>
                                        </div>
                                        <div class="col">
                                            <div class="small text-muted">{$account['parent']['nickname']}</div>
                                            <a href="/account/read.html?uid={$account['parent']['uid']}"  target="_blank" class="text-blue">{$account['parent']['username']}</a>
                                        </div>
                                    </div>
                                    {/notempty}
                                </td>
                                <td>
                                    {if $account['gender'] === 1}
                                    男
                                    {elseif $account['gender'] === 2}
                                    女
                                    {else /}
                                    未知
                                    {/if}
                                </td>
                                <td>{$account['birthday']|default=''}</td>
                                <td>{$account['address']|default=''}</td>
                                <td>{$account['created_at']}</td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                {:pagination($total, $params['pageSize'])}
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-save" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/account/save.html" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">创建新的账户</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">登录账号</label>
                            <input type="text" class="form-control" name="username" placeholder="必填，输入账号" />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">登录密码</label>
                            <input type="password" class="form-control" name="password" placeholder="选填，默认：123456" />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">手机号码</label>
                            <input type="text" class="form-control" name="phone" placeholder="选填，例如：18721889831" />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">邮箱地址</label>
                            <input type="text" class="form-control" name="email" placeholder="选填，例如：asgeg@qq.com" />
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">邀请码</label>
                            <input type="text" class="form-control" name="inviter" placeholder="选填，例如：AbCd" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-primary btn-create ms-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                        立即创建
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
// 批量删除
var remove = function(){
    var uids = [];
    $('.accounts .checkBoxItem:checked').each(function(idx, ele){
        uids.push($(ele).val());
    });
    if (uids.length) {
        ajax.post('/account/remove', {uid: uids}, function(res){
            if (res && res.code == 200) {
                toastr.success('恭喜您、操作成功！');
                window.location.reload();
            } else {
                toastr.error(res && res.message ? res.message : '很抱歉、服务器繁忙！');
            }
        });
    }
}
$(function(){
    // 批量更改状态
    $('.btn-status').on('click', function(){
        var status = $(this).data('value');
        var uids = [];
        $('.accounts .checkBoxItem:checked').each(function(idx, ele){
            uids.push($(ele).val());
        });
        if (uids.length) {
            ajax.post('/account/edit', {uid: uids, status: status}, function(res){
                if (res && res.code == 200) {
                    toastr.success('恭喜您、操作成功！');
                    window.location.reload();
                } else {
                    toastr.error(res && res.message ? res.message : '很抱歉、服务器繁忙！');
                }
            });
        }
    });
    // 添加数据
    $('#modal-save .btn-create').on('click', function(){
        // 按钮禁用
        $(this).addClass('btn-vk btn-loading disabled');
        // 继续操作
        return true;
    });
});
</script>
{/block}